@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";


.active{
    border-bottom: 2px solid #FFAC00;
    color: #070707;
}

.app-layout {
  display: flex;
  background: #f7f9fc;
  min-height: 100vh;
}

.main-content {
  flex: 1 1 auto;
  background: #f7f9fc;
  min-height: 100vh;
  /* Optionally add padding if needed */
}

@theme {
  --font-inter: 'Inter';
  --font-nunito: 'Nunito';
}